.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  padding-top: 25px;

  font-weight: 700;
  font-size: 11px;
  line-height: $font-size-text-small;

  text-transform: uppercase;

  background-color: transparent;

  a {
    width: 99px;
  }

  .menu {
    &-item {
      margin-left: 24px;

      &:nth-child(1) {
        margin-left: 88px;
      }
    }

    &-link {
      color: $grey-color;

      &.active {
        color: $white-color;
      }
    }
  }

  .search {
    margin-left: auto;

    input {
      box-sizing: border-box;
      width: 248px;
      height: 25px;
      padding: 5px 10px;

      color: $placeholder-color;
      font-size: 13.3px;
      line-height: 15.3px;

      background-color: $dark-grey-color;
      border: none;
      border-radius: 50px;
    }
  }
}

.main {
  .page-description {
    padding-top: 200px;
    padding-bottom: 205px;

    background: url('../images/banner.png') no-repeat center center;
    background-size: cover;

    p {
      margin-top: 32px;

      @include text-1;
      font-weight: 400;
    }
  }
}
