$black-color: #08020d;
$white-color: #fff;
$light-grey-color: #e0e0e0;
$grey-color: #cacaca;
$dark-grey-color: #3c3b3d;
$green-color: #34c176;
$orange-color: #f89202;
$purple-color: #5328a1;
$red-color: #95390c;
$text-color: #3c3b3d;
$placeholder-color: #757575;

$font-size-h1: 60px;
$font-size-h2: 38px;
$font-size-h3: 24px;
$font-size-h4: 18px;

$font-size-text-7: 64px;
$font-size-text-6: 56px;
$font-size-text-5: 48px;
$font-size-text-4: 40px;
$font-size-text-3: 32px;
$font-size-text-2: 24px;
$font-size-text-1: 16px;
$font-size-text-small: 12,8px;

@mixin h1 {
  font-weight: 700;
  font-size: $font-size-h1;
  line-height: 90px;
}

@mixin h2 {
  font-weight: 700;
  font-size: $font-size-h2;
  line-height: 57px;
}

@mixin h3 {
  font-size: $font-size-h3;
  line-height: 45px;
}

@mixin h4 {
  font-size: $font-size-h4;
  line-height: 27px;
}

@mixin text-7 {
  font-size: $font-size-text-7;
  line-height: 96px;
}

@mixin text-6 {
  font-size: $font-size-text-6;
  line-height: 84px;
}

@mixin text-5 {
  font-size: $font-size-text-5;
  line-height: 72px;
}

@mixin text-4 {
  font-size: $font-size-text-4;
  line-height: 60px;
}

@mixin text-3 {
  font-size: $font-size-text-3;
  line-height: 48px;
}

@mixin text-2 {
  font-size: $font-size-text-2;
  line-height: 36px;
}

@mixin text-1 {
  font-size: $font-size-text-1;
  line-height: 24px;
}
